@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$seasalt: #F7F8FAff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
textarea,
::after,
::before {
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    background-color: $seasalt;
}

#root {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}