
.btn{
    border-radius: 100%;
    border: 0 solid #ffffff;
    background-color: #ffffff;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}