nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #588157;
  padding: 1.5rem 1rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}
