$timberwolf: #dbd7daff;
$cool-gray: #5c5b82;
$light-blue: #98c8d5ff;
$tea-green: #cddabbff;
$french-gray: #b4bed0ff;
$ash-gray: #becbc3ff;
$tea-rose-red: #e3b4baff;
$dun: #d5c8b3ff;
$beige: #dbe0bdff;
$french-gray-2: #c3cad8ff;
$electric-violet: #8932ffff;

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  .main-wrapper{
    display: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-basis: 100%;
    // flex-flow: row wrap;
    .card-container {
      flex-basis: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      max-width: 1024px;
      margin: 10px;
      padding: 10px;
      gap: 2rem;
    }
  }
}
